RewriteEngine On
RewriteRule "^xemthongtin-(.*)-(.*).htm$" "index.php?c=xemthongtin&a=index&id=$1&khuvuc=$2"
RewriteRule "^trangkhuvuc-(.*)-(.*).htm$" "index.php?c=trangchu&a=index&page=$1&khuvuc=$2"
RewriteRule  "trang-chu" "index.php"
RewriteRule  "trang-chu-can" "index.php?c=trangchu&a=index&"
RewriteRule "^kv-(.*).htm$" "index.php?c=trangchu&a=index&khuvuc=$1"
RewriteRule "^lt-(.*).htm$" "index.php?c=trangchu&a=index&loaitin=$1"
RewriteRule "^sp-(.*)-(.*).htm$" "index.php?c=trangchu&a=index&khuvuc=$1&loaitin=$2"
RewriteRule "^trang-(.*).htm$" "index.php?c=trangchu&a=index&page=$1"
RewriteRule "^trangloaitin-(.*)-(.*).htm$" "index.php?c=trangchu&a=index&page=$1&loaitin=$2"
RewriteRule "^trangloaitinvakhuvuc-(.*)-(.*)-(.*).htm$" "index.php?c=trangchu&a=index&page=$1&khuvuc=$2&loaitin=$3"
RewriteRule "^(.*)-xem-(.*).htm$" "index.php?c=$1&a=$2"
RewriteRule "^(.*)-sua-(.*).htm$" "index.php?c=$1&a=edit&id=$2"
RewriteRule "^(.*)-xoa-(.*).htm$" "index.php?c=$1&a=delete&id=$2"
RewriteRule "^(.*).htm$" "index.php?c=$1"
